# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/

# FastAPI specific
instance/
*.log
*.pot
*.pyc
*.pyo

# Next.js specific
.next/
out/
build/

# Node.js specific
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Docker specific
*.env
docker-compose.override.yml
.dockerignore

# Nginx specific
*.crt
*.key
*.pem

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Operating system files
.DS_Store
Thumbs.db

# Logs and databases
*.sqlite3
*.pid
*.seed
*.bak

# Miscellaneous
*.env.local
*.env.development
*.env.production
*.env.test
.env.*

# Tests
coverage/
*.cover
*.coverage
*.coveragerc

# jetclient
/.jetclient